* {
    margin: 0px;
    
}


html, body {
    scroll-behavior: smooth;
}

#home {
    width: 100vw;
    height: 100vh;
    background: url(../image/home.jpg) center center fixed no-repeat;
    background-size: cover;
}

#menu {
    position: fixed;
    display:flex;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-top: 20px;
    color: white;
    font-size: 1.2em;
    width: 100vw;
    height: 50px;
    background-color: black;
    margin: 0;
    text-align: center;
    ;
    
}
#menu a, li {
    text-decoration: none;
    margin-right: 20px;
    display: inline-block ;
    margin:0 auto;
    z-index: 1;
    color: white;
}

#first {
    width: 100vw;
    height: 100vh;
    background: url(../image/bckg1.jpg) center center fixed no-repeat;
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-left: 20px;
}

#second {
    width: 100vw;
    height: 100vh;
    background: url(../image/bckg2.jpg) center center fixed no-repeat;
    background-size: cover;
    color: black;
    padding-top: 100px;
    padding-left: 20px;
}

#third {
    width: 100vw;
    height: 100vh;
    background: url(../image/bckg3.jpg) center center fixed no-repeat;
    background-size: cover;
    color: black;
    padding-top: 100px;
    padding-left: 20px;
}

#fourth {
    width: 100vw;
    height: 100vh;
    background: url(../image/bckg4.jpg) center center fixed no-repeat;
    background-size: cover;
    color: black;
    padding-top: 100px;
    padding-left: 20px;
}

#fith {
    width: 100vw;
    height: 100vh;
    background: url(../image/bckg5.jpg) center center fixed no-repeat;
    background-size: cover;
    color: black;
    padding-top: 100px;
    padding-left: 20px;
}

#sixth {
    width: 100vw;
    height: 100vh;
    background: url(../image/bckg6.jpg) center center fixed no-repeat;
    background-size: cover;
    color: black;
    padding-top: 100px;
    padding-left: 20px;
}
